# Ignore everything by default
*

# Whitelist your main configuration and test files
!.gitignore
!README.md
!requirements.txt
!pyproject.toml
!Test_Currency_Converter.py

# Whitelist your new package folder and everything inside it
!currency_service/
!currency_service/**